$gray: #666666;
$gray_99: #999999;
$black: #000;
$red: #F75852;
$blue: #1771E5;
$blue_29: #29c5f6;
$white: #ffffff;
$white_E5: #E5ECF7;
$white_FA: #FAFAFA;
$white_EF: #EFEFEF;
$white_FF: #FFFBF1;
$yellow: #F7CE52;
$green: #1CC95C;

